.vscode/
venv/

generators_vs_traditional_method/reading_large_file/test_file1.txt
generators_vs_traditional_method/reading_large_file/test_file2.txt

fastapi_demo/app/__pycache__
fastapi_demo/__pycache__